VS/
.vs/
*.vcxproj.filters
*.vcxproj.user
*.slnLaunch.user
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

[Ii]ntermediate/
build.ninja
.ninja_log
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
/test_project

*.code-workspace
